:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


/* home/books page*/

.app {
    width: 80vw;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #343434;
    margin: 0 auto;
}

.book-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.book-title,
.book-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.book-list-button {
    background: red;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
}

.delete {
    background: red;
    cursor: pointer;
}

.update {
    background: green;
    cursor: pointer;
}